@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(64 64 64);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

body{
  background-color: rgb(10 10 10);
}

#principal-page::before {
  content: "";
  margin: auto;
  width: 720px;
  height: 720px;
  background: linear-gradient(125deg,rgb(59, 7, 100) 5%,rgb(59, 7, 100, 35%) 25%,rgb(59, 7, 100, 10%) 100%);
  filter: blur(75px);
  border-radius: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;
}

#empty-state::before {
  content: "";
  width: 720px;
  height: 720px;
  background: linear-gradient(125deg,rgb(59, 7, 100) 5%,rgb(59, 7, 100, 15%) 25%,rgb(59, 7, 100, 0%) 100%);
  filter: blur(50px);
  border-radius: 100%;
  position: absolute;
  left: 50%;
  bottom: -15%;
  overflow: hidden;
  z-index: 10;
}

#user-list::before, #conversation-container::after {
  content: "";
  width: 240px;
  height: 240px;
  background: linear-gradient(125deg,rgb(162, 28, 175) 5%,rgb(162, 28, 175, 15%) 25%,rgb(162, 28, 175, 0%) 100%);
  filter: blur(35px);
  border-radius: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 0;
}

#modal::before {
  content: "";
  margin: auto;
  width: 160px;
  height: 160px;
  background: linear-gradient(125deg,rgb(126, 34, 206) 5%,rgb(126, 34, 206, 15%) 25%,rgb(126, 34, 206, 0%) 100%);
  filter: blur(35px);
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

.button-galaxy {
  background:
    radial-gradient( 40% 50% at center 100%, #a855f7, transparent ),
    radial-gradient( 80% 100% at center 120%, #7e22ce, transparent ),
    #4c1d95;
}
